body {
    background-color: rgb(78, 78, 78);
    color: white;
    text-shadow: 1px 1px 3px black;
}

.article-1 {
    background-color: rgba(255, 0, 0, 0.281);
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(assets/blblbbl.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0;
    background-position-y: 0;
    border: dashed orange 10px;
}

.article-2 {
    background-color: rgba(172, 255, 47, 0.329);
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(assets/blblbbl.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0;
    background-position-y: 0;
    border: dashed orange 10px;
    background-clip: padding-box;
}

.article-3 {
    background-color: rgba(0, 195, 255, 0.24);
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(assets/blblbbl.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0;
    background-position-y: 0;
    border: dashed orange 10px;
    background-clip: content-box;
}