@font-face {
    font-family: jb-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: jbi-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Italic.ttf);
}

@font-face {
    font-family: jb-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: jbi-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-LightItalic.ttf);
}

@font-face {
    font-family: jb-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Thin.ttf);
}

@font-face {
    font-family: jbi-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ThinItalic.ttf);
}

@font-face {
    font-family: jb-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: jbi-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-MediumItalic.ttf);
}

@font-face {
    font-family: jb-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBold.ttf);
}

@font-face {
    font-family: jbi-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBoldItalic.ttf);
}

@font-face {
    font-family: jb-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBold.ttf);
}

@font-face {
    font-family: jbi-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: mt-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mti-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Italic.ttf);
}

@font-face {
    font-family: mt-semibold;
    src: url(../../assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: mt-extrabold;
    src: url(../../assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

body {
    background-color: #FBF6F0;
    color: #724341;
    font-family: jb-thin;
    font-size: 15px;
    text-align: justify;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    min-height: 100%;
    background: url(../../assets/GIFs_IMGs/noise.gif);
    background-size: 200px 200px;
    background-repeat: repeat;
    opacity: 0.4;
    mix-blend-mode: soft-light;
    z-index: 1;
    pointer-events: none;
}

.italic {
    font-family: jbi-thin;
    color: #E8C48B;
}

.gras {
    font-family: jb-regular;
}

.gras-italic {
    font-family: jbi-regular;
}

.black {
    font-family: jb-medium;
}

.grand-titre {
    font-family: mt-extrabold;
}

.moyen-titre {
    font-family: mt-semibold;
}

.highlight-froid {
    font-family: jb-light;
    color: #286A84;
    text-decoration: none;
}

.highlight-froid:hover {
    font-family: jb-light;
    color: #498197;
    text-shadow: 0 0 10px #aec8d3, 0 0 20px #6c99ac, 0 0 40px #286A84, 0 0 80px #286A84;
    text-decoration: none;
}

.highlight-legers-chaud {
    font-family: jb-regular;
    color: #A4635F;
    text-decoration: none;
}

.highlight-legers-chaud:hover {
    font-family: jb-regular;
    color: #b38381;
    text-shadow: 0 0 10px #b38381, 0 0 20px #b38381, 0 0 40px #A4635F, 0 0 80px #A4635F;
    text-decoration: none;
}

.highlight-chaud {
    font-family: jb-light;
    color: #B5637A;
    text-decoration: none;
}

.mauve {
    color: #917BA9;
}

.bleu-pale {
    color: #5795A0;
}

.nom-prenom {
    font-family: jb-regular;
    color: #E8C48B;
    background-color: #502f2e;
    text-decoration: none;
    text-align: justify;
}