@font-face {
    font-family: jb-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: jbi-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Italic.ttf);
}

@font-face {
    font-family: jb-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: jbi-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-LightItalic.ttf);
}

@font-face {
    font-family: jb-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Thin.ttf);
}

@font-face {
    font-family: jbi-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ThinItalic.ttf);
}

@font-face {
    font-family: jb-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: jbi-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-MediumItalic.ttf);
}

@font-face {
    font-family: jb-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBold.ttf);
}

@font-face {
    font-family: jbi-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBoldItalic.ttf);
}

@font-face {
    font-family: jb-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBold.ttf);
}

@font-face {
    font-family: jbi-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: mt-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mti-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Italic.ttf);
}

@font-face {
    font-family: mt-semibold;
    src: url(../../assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: mt-extrabold;
    src: url(../../assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

body {
    background-color: #1A1825;
    color: #E1D4D4;
    font-family: jb-thin;
    font-size: 15px;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 23rem;
    padding-right: 23rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    min-height: 100%;
    background: url(../../assets/GIFs_IMGs/noise.gif);
    background-size: 200px 200px;
    background-repeat: repeat;
    opacity: 0.15;
    mix-blend-mode: soft-light;
    z-index: 1;
    pointer-events: none;
}

.italic {
    font-family: jbi-thin;
    color: #3A3651;
}

.gras {
    font-family: jb-regular;
}

.gras-italic {
    font-family: jbi-regular;
}

.black {
    font-family: jb-medium;
}

.grand-titre {
    font-family: mt-extrabold;
}

.moyen-titre {
    font-family: mt-semibold;
}

.highlight-froid {
    font-family: jb-light;
    color: #317490;
    text-decoration: none;
}

.highlight-froid:hover {
    font-family: jb-light;
    color: #8eabb8;
    text-shadow: 0 0 10px #317490, 0 0 20px #317490, 0 0 40px #317490, 0 0 80px #317490;
    text-decoration: none;
}

.highlight-legers-chaud {
    font-family: jb-regular;
    color: #BF9B99;
    text-decoration: none;
}

.highlight-legers-chaud:hover {
    font-family: jb-regular;
    color: #cab4b2;
    text-shadow: 0 0 10px #BF9B99, 0 0 20px #BF9B99, 0 0 40px #BF9B99, 0 0 80px #BF9B99;
    text-decoration: none;
}

.highlight-chaud {
    font-family: jb-light;
    color: #F289A4;
    text-decoration: none;
}

.mauve {
    color: #CEB3EF;
}

.bleu-pale {
    color: #94DAE6;
}

.nom-prenom {
    font-family: jb-regular;
    color: #1A1825;
    background-color: #E1D4D4;
    text-decoration: none;
    text-align: justify;
    margin-left: -1rem;
    margin-right: -1rem;
}

.img-cv {
    box-shadow: 0 0 20px #e1d4d444;
    width: 310.25px;
    height: 438.75px;
}

.img-cv:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes scale{
    0%{
        box-shadow: 0 0 20px #E1D4D444;
    }
    100%{
        transform: scale(0.6);
        scale: 2;
        box-shadow: 0 0 80px #E1D4D444;
    }
}