@font-face {
    font-family: jb-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: jbi-regular;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Italic.ttf);
}

@font-face {
    font-family: jb-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Light.ttf);
}

@font-face {
    font-family: jbi-light;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-LightItalic.ttf);
}

@font-face {
    font-family: jb-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Thin.ttf);
}

@font-face {
    font-family: jbi-thin;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ThinItalic.ttf);
}

@font-face {
    font-family: jb-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: jbi-medium;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-MediumItalic.ttf);
}

@font-face {
    font-family: jb-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBold.ttf);
}

@font-face {
    font-family: jbi-semibold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-SemiBoldItalic.ttf);
}

@font-face {
    font-family: jb-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBold.ttf);
}

@font-face {
    font-family: jbi-extrabold;
    src: url(../../assets/fonts/jetbrainmono/JetBrainsMono-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: mt-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: mti-regular;
    src: url(../../assets/fonts/montserrat/Montserrat-Italic.ttf);
}

@font-face {
    font-family: mt-semibold;
    src: url(../../assets/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: mt-extrabold;
    src: url(../../assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

body {
    background-color: #FBF6F0;
    color: #724341;
    font-family: jb-thin;
    font-size: 15px;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 23rem;
    padding-right: 23rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-image: url(../../assets/images/cadre.png);
    background-repeat: no-repeat;
    background-size: 857px 414.5px;
    background-position-x: center;
    background-position-y: 6.75rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    min-height: 100%;
    background: url(../../assets/GIFs_IMGs/noise.gif);
    background-size: 200px 200px;
    background-repeat: repeat;
    opacity: 0.4;
    mix-blend-mode: soft-light;
    z-index: 1;
    pointer-events: none;
}

p {
    text-align: justify;
}

.texte-normal {
    padding-left: 20%;
    padding-right: 20%;
}

.italic {
    font-family: jbi-thin;
    color: #E8C48B;
}

.gras {
    font-family: jb-regular;
}

.gras-italic {
    font-family: jbi-regular;
}

.black {
    font-family: jb-medium;
}

.grand-titre {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2rem;
    font-family: mt-extrabold;
    text-align: center;
}

.moyen-titre {
    padding-left: 20%;
    padding-right: 20%;
    font-family: mt-semibold;
    text-align: center;
}

.highlight-froid {
    font-family: jb-light;
    color: #286A84;
    text-decoration: none;
}

.highlight-froid:hover {
    font-family: jb-light;
    color: #498197;
    text-shadow: 0 0 10px #aec8d3, 0 0 20px #6c99ac, 0 0 40px #286A84, 0 0 80px #286A84;
    text-decoration: none;
}

.highlight-legers-chaud {
    font-family: jb-regular;
    color: #A4635F;
    text-decoration: none;
}

.highlight-legers-chaud:hover {
    font-family: jb-regular;
    color: #b38381;
    text-shadow: 0 0 10px #b38381, 0 0 20px #b38381, 0 0 40px #A4635F, 0 0 80px #A4635F;
    text-decoration: none;
}

.highlight-chaud {
    font-family: jb-light;
    color: #B5637A;
    text-decoration: none;
}

.mauve {
    color: #917BA9;
}

.bleu-pale {
    color: #5795A0;
}

.nom-prenom {
    font-family: jb-regular;
    color: #E8C48B;
    text-decoration: none;
    text-align: center;
    margin-left: -1rem;
    margin-right: -1rem;
}

.img-cv {
    margin-left: 23.5rem;
    box-shadow: 0 0 20px #724341af;
    width: 310.25px;
    height: 438.75px;
}

.img-cv:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes scale{
    0%{
        box-shadow: 0 0 20px #724341af;
    }
    100%{
        transform: scale(0.6);
        scale: 2;
        box-shadow: 0 0 80px #72434177;
    }
}

.presentation {
    padding-left: 25.5rem;
    padding-right: 13.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pp {
    position: absolute;
    height: 245.2px;
    width: 163.9px;
    padding-left: 13.6rem;
    padding-top: 1rem;
}

.texte-normal-dark {
    color: #E1D4D4;
    background-color: #1A1825;
    padding-left: 20%;
    padding-right: 20%;
}

.italic-dark {
    font-family: jbi-thin;
    color: #3A3651;
}

.highlight-froid-dark {
    font-family: jb-light;
    color: #317490;
    text-decoration: none;
}

.highlight-froid-dark:hover {
    font-family: jb-light;
    color: #8eabb8;
    text-shadow: 0 0 10px #317490, 0 0 20px #317490, 0 0 40px #317490, 0 0 80px #317490;
    text-decoration: none;
}

.highlight-legers-chaud-dark {
    font-family: jb-regular;
    color: #BF9B99;
    text-decoration: none;
}

.highlight-legers-chaud-dark:hover {
    font-family: jb-regular;
    color: #cab4b2;
    text-shadow: 0 0 10px #BF9B99, 0 0 20px #BF9B99, 0 0 40px #BF9B99, 0 0 80px #BF9B99;
    text-decoration: none;
}

.highlight-chaud-dark {
    font-family: jb-light;
    color: #F289A4;
    text-decoration: none;
}

.mauve-dark {
    color: #CEB3EF;
}

.bleu-pale-dark {
    color: #94DAE6;
}

.img-cv-dark {
    box-shadow: 0 0 20px #e1d4d444;
    width: 310.25px;
    height: 438.75px;
}

.img-cv-dark:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.grand-titre-dark {
    color: #E1D4D4;
    background-color: #1A1825;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2rem;
    font-family: mt-extrabold;
    text-align: center;
}

.moyen-titre-dark {
    color: #E1D4D4;
    background-color: #1A1825;
    padding-left: 20%;
    padding-right: 20%;
    font-family: mt-semibold;
    text-align: center;
}

.banner-1 {
    margin-left: 20%;
    box-shadow: 0 0 20px #724341af;
    width: 180.25px;
    height: 268.75px;
}

.banner-1:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.banner-2 {
    margin-left: 4%;
    box-shadow: 0 0 20px #724341af;
    width: 180.25px;
    height: 268.75px;
}

.banner-2:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.banner-3 {
    margin-left: 4%;
    box-shadow: 0 0 20px #724341af;
    width: 180.25px;
    height: 268.75px;
}

.banner-3:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.img-h {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0 20px #724341af;
    width: 384px;
    height: 216px;
}

.img-h:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.kando {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 0 0 20px #724341af;
    width: 200.25px;
    height: 330.75px;
}

.kando:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}